annotated-types==0.7.0
boolean.py==4.0
build==1.2.2.post1
certifi==2024.8.30
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.0
coverage==7.4.4
craft-application==4.3.0
craft-archives==2.0.1
craft-cli==2.10.0
craft-grammar==2.0.1
craft-parts==2.1.2
craft-platforms==0.4.0
craft-providers==2.0.4
distro==1.9.0
gitdb==4.0.11
GitPython==3.1.43
httplib2==0.22.0
idna==3.10
iniconfig==2.0.0
launchpadlib==2.0.0
lazr.restfulclient==0.14.6
lazr.uri==1.0.6
license-expression==30.4.0
oauthlib==3.2.2
overrides==7.7.0
packaging==24.1
platformdirs==4.3.6
pluggy==1.5.0
pycparser==2.22
pydantic==2.9.2
pydantic_core==2.27.2
pygit2==1.14.1
pyparsing==3.2.0
pyproject_hooks==1.2.0
pytest==7.4.4
pytest-cov==4.1.0
pytest-mock==3.14.0
python-debian==0.1.49
pyxdg==0.28
PyYAML==6.0.2
requests==2.32.3
requests-unixsocket2==0.4.2
setuptools==75.3.0
six==1.16.0
smmap==5.0.1
snap-helpers==0.4.2
typing_extensions==4.12.2
urllib3==2.2.3
wadllib==2.0.0
