build==1.2.1
certifi==2024.2.2
charset-normalizer==3.3.2
coverage==7.4.4
craft-application==1.2.1
craft-cli==2.5.1
craft-parts==1.28.1
craft-providers==1.23.1
Deprecated==1.2.14
exceptiongroup==1.2.0
idna==3.7
importlib_metadata==7.1.0
iniconfig==2.0.0
overrides==7.7.0
packaging==24.0
platformdirs==4.2.0
pluggy==1.4.0
pydantic==1.10.15
pydantic-yaml==0.11.2
pyproject_hooks==1.0.0
pytest==7.4.4
pytest-cov==4.1.0
pytest-mock==3.14.0
pyxdg==0.28
PyYAML==6.0.1
requests==2.31.0
requests-unixsocket==0.3.0
tomli==2.0.1
types-Deprecated==1.2.9.20240311
types-PyYAML==6.0.12.20240311
typing_extensions==4.11.0
urllib3==1.26.19
wrapt==1.16.0
zipp==3.18.1
