name: {{name}}
# only "bare" is supported
base: bare # the base environment for this image
build-base: ubuntu@24.04
version: '0.1' # just for humans. Semantic versioning is recommended
summary: Single-line elevator pitch for your amazing image # 79 char long summary
description: |
    This is {{name}}'s description. You have a paragraph or two to tell the
    most important story about it. Keep it under 100 words though,
    we live in tweetspace and your description wants to look good in the
    container registries out there.
platforms: # the platforms this image should be built on and run on
    amd64:

parts:
    my-part:
        plugin: nil

filesystems:
    default:
    - mount: /
      device: (volume/disk/rootfs)

volumes:
    disk:
        schema: gpt
        structure:
            - name: rootfs
              role: system-data
              type: 0FC63DAF-8483-4772-8E79-3D69D8477DE4
              filesystem: ext4
              filesystem-label: writable
              size: 3 G
